# ---------------------------------------------------------------
# Simulation scenario file for SCADE Simulator
# Task:  Couteau_thermique_Ver.OK
# Model: Projet
# Node:  Couteau_thermique_Ver
# ---------------------------------------------------------------

SSM::set Couteau_thermique_Ver/power1 t
SSM::set Couteau_thermique_Ver/power2 t

SSM::cycle

SSM::set Couteau_thermique_Ver/power1 t
SSM::set Couteau_thermique_Ver/power2 t

SSM::cycle

