# ---------------------------------------------------------------
# Simulation scenario file for SCADE Simulator
# Task:  Obs_batterie.OK
# Model: Projet
# Node:  Obs_batterie
# ---------------------------------------------------------------

SSM::set Obs_batterie/requ 7

SSM::cycle

